*{
    margin: 0;
    padding: 0;
    background: #fff;
}
#navebarSection
{
    width: 100%;
    height:75px;
    border: 2px solid red;
}
#nav-Bar
{
    width: 99.8%;
    height: 69px;
    padding: 5px;
    /* border: 2px solid red; */
}